
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Любители пива</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    
    {{ template "navbar" . }}
    <h2 align="center">Добавление пива</h2>
    <div class="container">
        <form id="add_beer" role="form" method="post" action="/beer/create" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="form-group" >
                    <label for="beer_name" style="font-size: 16px;">Название</label>
                    <input id="beer_name" type="text" class="form-control" name="name" placeholder="Название" required> <br>
                </div>    
                <div class="form-group">
                    <label for="producer" style="font-size: 16px;">Производитель</label>
                    <input id="producer" type="text" class="form-control" name="producer"  placeholder="Производитель" required>
                </div>
                <div class="form-group">
                    <label for="beer_types" style="font-size: 16px;">Вид пива</label>
                    <!-- <input id="beer_type" type="text" class="form-control" name="beer_type" placeholder="Вид пива" list="beer_types"> -->
                    <select id="beer_types" name="beer_types">
                        {{ .Options}}
                    </select>
                </div> 
                <div class="form-group">
                    <label for="logo" style="font-size: 16px;">Изображение</label>
                    <input id="logo" type="file" class="form-control" name="logo">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <!-- <br> align-content: flex-end;-->
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
                    </div>
                    <div class="form-group col-md-4">
                        <div style=" margin: 10px auto;">
                            <a class="lead pull-right" href="/events/">Назад</a>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>