
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Любители пива</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    
    {{ template "navbar"}}
    <br>
    <div class="container-fluid">
      <div class="form-check form-check-inline">
        <form method="post" role="form" action="/events/">
            <div class="form-check form-check-inline" style="justify-content: space-between;">
              <input type="checkbox" name="show_old" id="show_old"/>
              <label class="form-check-label" for="show_old">Показать прошедшие</label>
            </div>
            
            <div class="form-check form-check-inline" style="justify-content: space-between;">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Обновить</button>
            </div>

        </form>
      </div>

    {{ if .IsAdmin }}
      <a class="lead pull-right" href="/events/create">Создать мероприятие</a>
    {{end}}
    </div><br><br>
    <div class="container-fluid" style="justify-content: space-evenly; justify-items: end; ">
      {{.Rows}}
    </div> 
    
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>